.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.spinner-container .spinner {
  --spinner-size: 5rem;
}

.bottom-spinner-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.bottom-spinner-container .bottom-spinner {
  --spinner-size: 3rem;
}
