.submit-comment textarea {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px;
}

.submit-comment {
  display: flex;
}

.comment-entry {
  margin-top: 10px;
}

.comment-entry > h1 {
  font-weight: 500;
}

.comment-entry > h2 {
  margin-left: 15px;
}
